{erl_opts, [debug_info]}.
{deps, [
    {atomvm_lib, {git, "https://github.com/atomvm/atomvm_lib.git", {branch, "master"}}}
]}.
{plugins, [
    atomvm_rebar3_plugin
]}.
{project_plugins, [
    rebar_gleam
]}.
{atomvm_rebar3_plugin, [
    {packbeam, [prune]}
]}.
{src_dirs, ["src", "gen/src", {"build/erlang-shipment", [{recursive, true}]}]}.

{pre_hooks, [
    {compile, "gleam export erlang-shipment"}
]}.
